<HTML>
      {% if invalidCourt %}
      {{invalidCourt}} is an invalid court.<br>
      <form action='/view/court/1/{{todayDateAsString}}' method='get'>
	<input type='submit' value='Back'>
      </form>
      {% elif invalidDate %}
      {{invalidDate}} is an invalid date.
      <form action='/view/court/{{court}}' method='get'>
	<input type='submit' value='Back'>
      </form>
      {% elif invalidUsername%}
      {{invalidUsername}} is not an approved member.
      <form action='/' method='get'>
	<input type='submit' value='Back'>
      </form>
      {% elif invalidPassword %}
      You have entered the wrong password.
      <form action='/' method='get'>
	<input type='submit' value='Back'>
      </form>
      {% elif tooManyHours %}
      You have booked the maximum number of hours for {{todayDateAsString}}.
      <form action='/view/court/{{court}}/{{todayDateAsString}}' method='get'>
	<input type='submit' value='Back'>
      </form>
      {% elif invalidHour %}
      {{invalidHour}} is an invalid hour.
      <form action='/view/court/{{court}}/{{todayDateAsString}}' method='get'>
	<input type='submit' value='Back'>
      </form>
      {% elif invalidDelete %}
      You are not permitted to delete that reservation.
      <form action='/view/court/{{court}}/{{todayDateAsString}}' method='get'>
	<input type='submit' value='Back'>
      </form>
      {% elif invalidName %}
      Please enter a valid name.
      <form action='view/court/{{court}}/{{todayDateAsString}}' method='get'>
	<input type='submit' value='Back'>
      </form>
      {% endif %}
</HTML>
